sudo: false
language: node_js
cache:
  directories:
    - node_modules
branches:
  only:
    - master
    - feature/*
    - bugfix/*
notifications:
  email: false
before_script:
  - npm run build
script:
  - npm run test
before_install:
  - npm i -g npm@11.6.2
node_js:
  - "22"